<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="~{header}">
    <th:block th:insert="~{fragments/theme}"></th:block>
    <div class="header-wrap">
        <div class="header shadow">
            <div class="top">
                <a class="logo" href="/">
                    <h1><img src="/images/logo.svg" alt="천재교육"/></h1>
                </a>
                <div th:unless="${userInfo}" class="btn_wrap justify_between">
                    <a href="/login" class="btn_default btn_gray right">로그인</a>
                </div>
                <div th:if="${userInfo}" th:sec class="btn_wrap justify_between">
                    <a href="#none" class="name" th:text="${userInfo}"></a>
                    <a th:href="@{/logout}" class="btn_default btn_gray right">로그아웃</a>
                    <div class="box">
                        <select class="form-select">
                            <option th:each="role : ${userRoles}" th:text="${role}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="nav_bar">
                <ul class="menu">
                    <li><a href="/paper/list">기출 시험지 관리</a></li>
                    <li><a href="">OCR 변환</a></li>
                    <li><a href="#none">유사 문제 관리</a></li>
                    <li><a href="#none">서비스 관리</a></li>
                    <li><a href="/user/adminList">시스템 관리</a></li>
                </ul>
                <div class="nav_box">
                    <ul>
                        <li><a href="/paper/list">기출 시험지 관리</a></li>
                        <li><a href="/paper/registration">시험지 업로드</a></li>
                    </ul>
                    <ul>
                        <li><a href="/item/ocrList">OCR 변환 관리</a></li>
                    </ul>
                    <ul>
                        <li><a href="#none">유사 문제 관리</a></li>
                        <li><a href="#none">검수 관리</a></li>
                    </ul>
                    <ul>
                        <li><a href="#none">서비스 관리</a></li>
                        <li><a href="/analyze/frequencyList">빈출도 분석</a></li>
                        <li><a href="#none">보충 필요 문제</a></li>
                    </ul>
                    <ul>
                        <li><a href="/user/adminList">계정 관리</a></li>
                        <li><a href="#none">코드 관리</a></li>
                        <li><a href="#none">학교 정보 관리</a></li>
                        <li><a href="#none">작업 현황 / 배정 관리</a></li>
                        <li><a href="/search">학교 관리</a></li>
                    </ul>
                </div>
                <div class="dim"></div>
            </div>
        </div>
    </div>
</header>
</html>