#sc-info > div {
    /*padding: 0;*/
}

#sc-info * div, #sc-info * input {
    height: 40px;
}
.mtb-10 {
    margin-top: 6%; !important;
    margin-bottom: 14%; !important;
}

.input-group > .input-group-text {
    width: 30%;
}
body {
    height: 100%;
}