#sc-info * div, #sc-info * input {
    height: 40px;
}

.mtb-10 {
    margin-top: 6%;
!important;
    margin-bottom: 14%;
!important;
}

.input-group > .input-group-text {
    width: 30%;
}

body {
    height: 100%;
}

.btn {
    align-items: center;
    display: flex;
    border-color: #24a148;
    background-color: #24a148;
}

.input-group-text {
    background-color: #dddddd;
    color: #666666;
    font-weight: bold;
}