/*
 * Common
 */

:root {
    --primary: #24a148;
    --primary-hover: rgba(36, 161, 72, 0.8);
}

html, body {
    scroll-behavior: smooth;
}

.bg_primary {
    background-color: var(--primary) !important;
}

.btn.bg_primary:hover {
    background-color: var(--primary-hover) !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    /*--bs-btn-color: var(--bs-white);*/
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    /*--bs-btn-hover-color: var(--bs-white);*/
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    /*--bs-btn-active-color: var(--bs-btn-hover-color);*/
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
    z-index: 1500;
}


/* 로그인 */
.login_area{position: relative; width: 500px; margin:0 auto; padding: 7rem 0; text-align: center;}
.login_area h1 { margin: 35px auto 60px; font-size: 40px; line-height: 45px; font-family: 'NanumSquare', sans-serif; font-weight: 600; letter-spacing: -2.4px;}
.login_area .login_box > input { width: 500px; height: 60px; padding-left: 20px; font-size: 18px; font-weight: 500;}
.login_area .login_box > input::placeholder { font-size: 18px; color: #aaaaaa; line-height:50px; padding-top: 8px;}

.check_box{ position: relative;}
.check_box input[type=checkbox] { display:none; }
.check_box input[type=checkbox] + label { font-size: 14px; letter-spacing: -0.5px; cursor: pointer; padding-left: 23px; background-image: url('../images/checkbox.png'); background-repeat: no-repeat; background-position-y: 2px; height: 18px;}
.check_box input[type=checkbox]:checked + label { background-image: url('../images/checkbox_active.png'); background-repeat: no-repeat; }

.login_area .btn_zone { margin-top: 46px; margin-bottom: 24px;}
.login_area .btn_zone a { height: 60px; font-size: 18px;}
.login_area .login_notice { display: flex; text-align: left;}
.login_area .login_notice span { line-height: 24px; font-size: 14px; letter-spacing: -1px; }
.login_area .login_notice .notice_txt { padding-left: 3px;}

.btn5 { display: flex; align-items: center; justify-content: center; height: 24px; font-size: 13px; border:1px solid #000; border-radius: 4px; text-decoration: none;}
.btn_color2{border:none; background-color: #24a148;  color:#fff;}

/* 상단 로케이션 본인정보수정 , 로그아웃 버튼 */
#content .top .btn_wrap{float:right;}
#content .top .left{float:left;}
#content .top .right{float:right;}
.btn_default{display:inline-block; border:0; padding:5px 10px; border-radius:4px; margin-left:10px; font-size: 13px;}
.btn_sky_blue{color:#327ce1; border-color:#327ce1;}

#content .middle{margin-top:23px;}
#content .middle h2{float:left; color:#000; padding-left:7px; font-size:16px;}
#content .middle ol{float:right;}
#content .middle ol li{position:relative; float:left; color:#9a9a9a; padding-right:10px; margin-right:5px; font-size:12px;}
#content .middle ol li:after{content:""; display:block; clear:both; position:absolute; right:0; top:50%; margin-top:-6px; background:url('../images/arrow_location_right.png'); width:5px; height:8px;}
#content .middle ol li:last-child:after{background:none;}

/* 버튼 정렬상태 */
.btn_right{width:100%; text-align:right;}
.btn_right a{margin-left:5px;}
.btn_left{width:100%; text-align:left;}
.btn_left a{margin-right:5px;}
.btn_left_right{width:100%; position: relative;}
.btn_left_right p{display: inline-block;}
.btn_left_right .blr_left{left:0;}
.btn_left_right .blr_left a{margin-right:5px;}
.btn_left_right .blr_right{right:0; position: absolute;}
.btn_left_right .blr_right a{margin-left:5px;}