.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.infoTable{
    display: flex;
    border-collapse: collapse;
    width: 100%;
    padding: 25px;
    margin: 25px;
}

.infoTable thead th {
    border: 3px solid #ccc;
    background-color: #999999;
    margin: 5px;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    width: 12rem;
}

.infoTable tbody td {
    border: 3px solid #ccc;
    background-color: #888888;
    margin: 5px;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    width: 36rem;
}

.infoTable tbody {
    display:flex;
}

.infoTable th,
.infoTable td{
    display: flex;
    padding: 10px;
}

.apiDiv {
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}