#manageMain .nav-link,
#manageMain .page-link {
    color: var(--bs-success-text-emphasis);
}

#manageMain .active.nav-link,
#manageMain .active .page-link {
    color: white !important;
    background-color: var(--bs-success) !important;
}

#tb {
    text-align: center;
}

#tb td {
    padding: 0 0.5rem;
}

#tableBody tr{
    height: 45px !important;
    cursor: pointer;
}

#t_idx {
    width: 2rem !important;
}
#t_cityName {
    width: 7rem !important;
}
#t_streetAddr {
    width: 20rem !important;
}
#t_schoolKind {
    width: 4rem !important;
}
#t_schoolName {
    width: 22rem !important;
}
#t_cityEduOrg {
    width: 10rem !important;
}
#t_localEduOrg {
    width: 10rem !important;
}
#t_userName {
    width: 4rem !important;
}
#t_createdAt {
    width: 6rem !important;
}