@charset "utf-8";

/* margin, padding 초기화 */
html, body{margin:0; padding:0; font-family: "Noto Sans KR", sans-serif; font-size:13px; color:#666; height:100%; line-height:15px; }
/*div, span, object, embed, iframe, applet, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, dl, dt, dd, ol, ul, li, form, fieldset, center, ins, del, table, caption, tbody, tfoot, thead, tr, th, td, q, cite, a, img, em, strong, abbr, acronym, sub, sup, dfn, code, var, samp, kbd, b, i, small, big, tt, s, strike, u, input, label, select, legend, textarea, button {margin:0; padding:0; font-size:100%; box-sizing: border-box;}*/

/* 특성별 선택자 리셋 */
html {overflow-y: scroll;}
ol, ul ,li {list-style:none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
input,textarea,select,td,th {font-family: "Noto Sans KR", sans-serif; font-size:14px; vertical-align:middle; color:#666;}
textarea {overflow:auto;} /* IE6,7 에서 비활성화된 스크롤 생성 방지 */
abbr, acronym, img, fieldset {border:0 none;}
img {vertical-align:middle;}
table {border-spacing:0; border-collapse:collapse;}
label {cursor:pointer;}
blockquote, q {quotes:none;} /* 인용문 부호 리셋(opera 6버전 이상에서만 동작) */
blockquote:before, blockquote:after, q:before, q:after {content:""; content:none;} /* 인용문 부호리셋(가상클래스:before, :after를 지원하는 브라우저) */
a {color:#666; text-decoration:none;}

hr, legend {position:absolute; top:0; left:-9999px; visibility:hidden; overflow:hidden; width:1px; height:1px; margin:0; padding:0; line-height:1px;}
caption {visibility:hidden; overflow:hidden; width:1px; height:0; margin:0; padding:0; line-height:0;}

/* 폼 요소에 대한 리셋 */
* html input {margin:-1px 0;} /* ie6과 ie7에서 input의 1px 마진 리셋 */
*:first-child+html input {margin:-1px 0;} /* ie6과 ie7에서 input의 1px 마진 리셋 */
input { border: 1px solid #cccccc; border-radius: 4px;}
input[type="checkbox"] {width:16px; height:16px; vertical-align:-2px;} /* 체크박스/라디오버튼 위치 최적화 */
input[type="password"]{height:30px;line-height:30px;padding-left:9px;}

input[type="button"]{padding:0;border:none;}
input[type="date"]::-webkit-calendar-picker-indicator { opacity: .5; display: block; background-size: 20px; background-position-x: -5px; height: 20px;}
input[type="radio"] { -webkit-appearance: none; width: 16px; height: 16px; border-radius: 50%; outline: none; border: 1px solid #cccccc; margin-right: 1px; margin-bottom: 2px;}
input[type='radio']:before { content: ''; display: block; width: 70%; height: 70%; margin: 15% auto; border-radius: 50%;}
input[type="radio"]:checked:before { background: #24a148;}
input[type="radio"]:checked { border-color: #24a148;}
input[type="radio"].small { width: 12px; height: 12px; margin-right:2px; margin-top: 3px;}
input[type='radio'].small:before { width: 60%; height: 60%; margin: 20% auto;}

input:focus { outline: none;}
input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder,
input:focus::-ms-input-placeholder{ color: transparent;}

select { border: 1px solid #cccccc; background: url('../images/ic_drop.svg') no-repeat 95% 50%; background-color: #ffffff; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 4px; padding-left: 5px;}
select:focus { outline: 0;}
select::-ms-expand {display: none;}
textarea{padding:10px;border:1px solid #c6cacc;}

.clearFix:after{content:""; display:block; clear:both;}
.cBoth{clear:both !important;}
.hide { display: none;}

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_su {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;}