<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      id="indexHTML">
<head>
  <title>HighSchool | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Google jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

  <!--BootStrap-->
  <script th:src="@{/js/color-modes.js}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/main/index.css}">

  <!-- Naver Map API -->
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mo4ez0j3y6&submodules=geocoder"></script>
</head>
<body>
  <th:block th:insert="~{fragments/theme}"></th:block>

  <main class="d-flex">
    <th:block th:insert="~{fragments/main/nav}"></th:block>
    <section class="w-100">
      <div id="mapContent" class="d-flex">
        <div class="offcanvas offcanvas-start h-100" data-bs-scroll="false" data-bs-backdrop="true" tabindex="-1" id="offcanvas" aria-labelledby="offcanvas">
          <div id="searchContainer" class="px-3 py-1 border-end border-1 border-success shadow">
            <div class="offcanvas-header">
              <h3 id="offcanvasScrollingLabel" class="offcanvas-title" >
                학교 검색
              </h3>
              <button id="toggleButton" class="btn btn-outline-success border-0" onclick="showCookies()">
                <i id="icon" class="bi bi-layers-fill"></i>
              </button>
            </div>
            <div class="offcanvas-body pt-2">
              <label id="high" class="input-group">
                <input id="addressInput" type="text" class="form-control form-control-lg border-success" placeholder="고등학교" aria-describedby="button-addon" autocomplete='off'>
                <button class="btn border-success" type="button" id="button-addon"><i id="highIcon" class="bi bi-search"></i></button>
              </label>
              <label id="middle" class="input-group" style="display: none;">
                <input id="addressInput_middle" type="text" class="form-control form-control-lg border-warning" placeholder="중학교" aria-describedby="button-addon" autocomplete='off'>
                <button class="btn border-warning" type="button" id="button-addon_middle"><i id="middleIcon" class="bi bi-search"></i></button>
              </label>
              <label id="elementary" class="input-group" style="display: none;">
                <input id="addressInput_elementary" type="text" class="form-control form-control-lg border-primary" placeholder="초등학교" aria-describedby="button-addon" autocomplete='off'>
                <button class="btn border-primary" type="button" id="button-addon_elementary"><i id="elementaryIcon" class="bi bi-search"></i></button>
              </label>
              <div id="input_result" class="container p-1, border border-1 border-success">

              </div>
              <div id="search_result" class="list-group px-1 py-2">
                학교를 찾아보세요 (학교명)
              </div>
            </div>
          </div>
        </div>
        <button id="currentSchool" class="btn btn-secondary m-2 border-0 position-absolute" onclick="disableButtonAndExecute()">
          <i class="bi bi-binoculars fs-4"></i>
        </button>

        <!-- Map-Start  -->
        <figure id="map" class="w-100 h-100"></figure>
        <!-- Map-End  -->

        <div class="offcanvas offcanvas-bottom" data-bs-backdrop="false" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">검색 기록</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div id="cookies" class="offcanvas-body">
            쿠키~~
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
<script th:src="@{/js/main/map_index.js}"></script>
<script th:src="@{/js/main/index.js}"></script>
</html>