<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/addSchool.css}">
    <script>
        $(document).ready(function() {
            $('input[type="text"]').keydown(function(e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                };
            });
        });
    </script>
    <section class="container my-4">
        <div class="container w-75 acenter">

            <h2 class="aleft">학교 추가</h2>

            <form action="/high/school/add" method="post" id="schoolForm">
                <div class="row" id="sc-info">
                    <div class="col-md-3">
                        <div class="input-group-text">학교코드</div>
                        <div class="input-group-text">시도교육청</div>
                        <div class="input-group-text">설립구분</div>
                        <div class="input-group-text">학교급</div>
                        <div class="input-group-text">시도명</div>
                        <div class="input-group-text">도로명 주소<span class="aright"><button id="apiButton" class="btn btn-primary text-right">검색</button></span></div>
                        <div class="input-group-text">팩스번호</div>
                        <div class="input-group-text">전화번호</div>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="schoolCode">
                        <input type="text" class="form-control" name="cityEduOrg">
                        <input type="text" class="form-control" name="foundationName">
                        <input type="text" class="form-control" name="schoolKind">
                        <input type="text" class="form-control" name="cityName">
                        <input type="text" class="form-control" name="streetAddr">
                        <input type="text" class="form-control" name="telNum">
                        <input type="text" class="form-control" name="faxNum">
                    </div>
                    <div class="col-md-3">
                        <div class="input-group-text">학교명</div>
                        <div class="input-group-text">지역교육청</div>
                        <div class="input-group-text">주야구분</div>
                        <div class="input-group-text">시군구명</div>
                        <div class="input-group-text">우편번호</div>
                        <div class="input-group-text">홈페이지주소</div>
                        <div class="input-group-text">남여공학 구분</div>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="schoolName">
                        <input type="text" class="form-control" name="localEduOrg">
                        <input type="text" class="form-control" name="dayNightName">
                        <input type="text" class="form-control" name="streetDetailAddr">
                        <input type="text" class="form-control" name="postNum">
                        <input type="text" class="form-control" name="hmpgAddr">
                        <input type="text" class="form-control" name="coedu">
                    </div>
                </div>

                <div class="aright">
                    <button type="submit" class="btn btn-success">추가하기</button>
                </div>
            </form>
        </div>
    </section>
</main>
</html>