<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/addSchool.css}">
    <section class="container my-4">
        <div class="container w-75 acenter">

            <h2 class="aleft">학교 추가</h2>

            <form action="/high/school/modify" method="post">
                <div class="row" id="sc-info">

                    <div class="col-md-3">
                        <div class="input-group-text">학교코드</div>
                        <div class="input-group-text">시도교육청</div>
                        <div class="input-group-text">설립구분</div>
                        <div class="input-group-text">학교급</div>
                        <div class="input-group-text">시도명</div>
                        <div class="input-group-text">도로명 주소
                            <span class="aright">
                                <button id="apiButton" class="btn btn-primary text-right">검색</button>
                            </span>
                        </div>
                        <div class="input-group-text">전화번호</div>
                        <div class="input-group-text">팩스번호</div>
                    </div>
                    <div class="col-md-3">
                        <input type="hidden" name="schoolIdx" th:value="${info.school.idx}">
                        <input type="text" class="form-control" name="schoolCode" th:value="${info.schoolCode}">
                        <input type="text" class="form-control" name="cityEduOrg" th:value="${info.school.cityEduOrg}">
                        <input type="text" class="form-control" name="foundationName" th:value="${info.foundationName}">
                        <input type="text" class="form-control" name="schoolKind" th:value="${info.school.schoolKind}">
                        <input type="text" class="form-control" name="cityName" th:value="${info.school.cityName}">
                        <input type="text" class="form-control" name="streetAddr" th:value="${info.streetAddr}">
                        <input type="text" class="form-control" name="telNum" th:value="${info.telNum}">
                        <input type="text" class="form-control" name="faxNum" th:value="${info.faxNum}">
                    </div>

                    <div class="col-md-3">
                        <div class="input-group-text">학교명</div>
                        <div class="input-group-text">지역교육청</div>
                        <div class="input-group-text">주야구분</div>
                        <div class="input-group-text">시군구명</div>
                        <div class="input-group-text">우편번호</div>
                        <div class="input-group-text">홈페이지주소</div>
                        <div class="input-group-text">남여공학 구분</div>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="schoolName" th:value="${info.school.schoolName}">
                        <input type="text" class="form-control" name="localEduOrg" th:value="${info.school.localEduOrg}">
                        <input type="text" class="form-control" name="dayNightName" th:value="${info.dayNightName}">
                        <input type="text" class="form-control" name="streetDetailAddr" th:value="${info.school.streetDetailAddr}">
                        <input type="text" class="form-control" name="postNum" th:value="${info.postNum}">
                        <input type="text" class="form-control" name="hmpgAddr" th:value="${info.hmpgAddr}">
                        <input type="text" class="form-control" name="coedu" th:value="${info.coedu}">
                    </div>
                </div>

                <div class="aright">
                    <button type="submit" class="btn btn-success">수정하기</button>
                </div>
            </form>
        </div>
    </section>
</main>
</html>