#indexHTML {
    overflow-y: hidden;
}

#mapContent {
    height: 100vh;
}

#map {
    margin: 0;
}

#mapContent #offcanvas {
    position: absolute;
    left: 4.5rem;
    height: 100vh;
}

@media screen and (max-width: 576px){
    #mapContent #offcanvas {
        width: 50%;
    }
}

#mapContent #offcanvasBottom {
    z-index: 1100;
}

#searchContainer {
    height: 100%;
}

#search_resultArea {
    min-width: 20rem;
}

#search_result {
    height: 80vh;
    overflow-y: auto;
}

#searchCard {
    cursor: pointer;
}
#searchCard:hover {
    filter: brightness(90%);
}

