#indexHTML {
    overflow-y: hidden;
}

#mapContent {
    height: 100vh;
}

#map {
    margin: 0;
}

#mapContent #offcanvas {
    position: absolute;
    left: 4.5rem;
}

@media screen and (max-width: 576px){
    #mapContent #offcanvas {
        width: 65%;
    }
}

#mapContent #offcanvasBottom {
    z-index: 1100;
}

#searchContainer {
    height: 100%;
}

#search_resultArea {
    min-width: 20rem;
}

#search_result {
    height: 80vh;
    overflow-y: auto;
}

#searchCard {
    cursor: pointer;
}
#searchCard:hover {
    filter: brightness(90%);
}

#nav {
   width: 4.5rem;
    z-index: 1050;
}

#nav .nav-item:hover {
    background-color: var(--bs-success);
}

.nav-item:hover .nav-link {
    color: white !important;
}


/* 검색 기록*/
#recentList {
    display: flex !important;
    justify-content: center;
    list-style-type: none !important;
    padding: 0;
}

#recentList .recent {
    margin: 0 0.5rem;
    padding: 1rem 0.5rem;
    border: 1px solid green;
    border-radius: 5px;
}

#recentList .recent:hover {
    background-color: green;
    cursor: pointer;
}

#recentList .recent span {
    font-weight: bold !important;
    margin-bottom: 1rem;
}

#input_result{
    display: none;
}

.btn.text-start:hover {
    background-color: dimgray;
    color: #fff;
    cursor: pointer;
}

#mapContent #currentSchool {
    z-index: 1;
    right: 0;
    top: 3rem;
}