<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/infoSchool.css}">

    <section id="pageMap" class="container my-3">
        <div class="d-flex justify-content-between">
            <div>
                <button onclick="location.href='/high/school/search'" class="apiButtonGreen btn btn-primary">학교관리 화면가기</button>
            </div>
            <div>
                <button th:onclick="|location.href='/high/school/modify/'+${school.idx}|" class="apiButtonGreen btn btn-primary">학교 수정하기</button>
            </div>
        </div>
    </section>

    <section class="container my-3 justify-content-md-center flex-container" id="infoSection">
        <div class="col-md-6">
            <table class="infoTable table">
                <tbody>
                <tr>
                    <th>정보공시학교코드</th>
                    <th>학교명</th>
                    <th>시도교육청</th>
                    <th>지역교육청</th>
                    <th>설립구분</th>
                    <th>주야구분</th>
                    <th>남녀공학여부</th>
                </tr>
                <tr>
                    <td th:text="${schoolDetail.schoolCode}"></td>
                    <td th:text="${school.schoolName}"></td>
                    <td th:text="${school.cityEduOrg}"></td>
                    <td th:text="${school.localEduOrg}"></td>
                    <td th:text="${schoolDetail.foundationName}"></td>
                    <td th:text="${schoolDetail.dayNightName}"></td>
                    <td th:text="${schoolDetail.coedu}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="infoTable table">
                <tbody>
                <tr>
                    <th>시도명</th>
                    <th>시군구명</th>
                    <th>도로명주소</th>
                    <th>우편번호</th>
                    <th>전화번호</th>
                    <th>홈페이지주소</th>
                    <th>팩스번호</th>
                </tr>
                <tr>
                    <td th:text="${school.cityName}"></td>
                    <td th:text="${school.streetAddr}"></td>
                    <td id="address"></td>
                    <td th:text="${schoolDetail.postNum}"></td>
                    <td th:text="${schoolDetail.telNum}"></td>
                    <td th:text="${schoolDetail.hmpgAddr}"></td>
                    <td th:text="${schoolDetail.faxNum}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="container my-3">
        <div class="row d-flex justify-content-between">
            <div id="mapContent" class="col-md-7  border border-dark rounded-3 me-1">
                <div id="mapArea" class="p-1 bg-body-tertiary">
                    <figure id="map" class="w-100 h-100"></figure>
                </div>
            </div>
            <div id="weatherContent" class="border border-dark rounded-3">
                <div class="h-100 p-1 bg-body-tertiary">
                    <h2> 날씨 앱을 넣을 부분 </h2>
                    <p>맑음</p>
                    <p>흐림</p>
                    <p>강우</p>
                    <p>강풍</p>
                </div>
            </div>
        </div>
    </section>

    <!-- API_START  -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mo4ez0j3y6&submodules=geocoder"></script>
    <script type="text/javascript" src="https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst?serviceKey=bjzcjXp5BZXRA5vnoLptqnIRMijNPrHGZAwXuxDO1XkJ5j8V5zSpfRVB4OedKWbyiVdgfUGga8zoxwTnQnO00w%3D%3D"></script>
    <!-- API_END  -->

    <script th:src="@{/js/map_infoSchool.js}"></script>
    <script th:src="@{/js/weather_infoSchool.js}"></script>
    <script>
        const schoolName = "[[${school.schoolName}]]";
        const streetAddress = "[[${school.streetAddr}]]";

        const mapSection = searchAddressToCoordinate(streetAddress, schoolName);

        window.onload = function(){
            if(mapSection !== null) {
                searchWeatherLocate(streetAddress);
            }
        }


        <!-- AddressCut_START  -->
        // DB에서 가져온 주소 데이터
        var addressData = "${school.streetAddr}";

        // '도'가 앞에 있는지 확인
        if (addressData.startsWith('도')) {
            // '도'가 앞에 있을 경우, 시와 군 또는 시와 구를 분리
            var parts = addressData.split(' ');
            var city = parts[0]; // 시
            var rest = parts.slice(1).join(' '); // 군 또는 구

            // 주소를 원하는 형식으로 표시
            document.getElementById('address').textContent = city + ' ' + rest;
        } else {
            // '도'가 앞에 없을 경우, 주소 그대로 표시
            document.getElementById('address').textContent = addressData;
        }
        <!-- AddressCut_END  -->
    </script>


</main>
</html>
