<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/infoSchool.css}">
    <div class="container-fluid my-5">
        <div class="row align-items-md-stretch p-5">
            <p class="lead">
            <div class="bd-example m-0 border-0 flex-container">
                <div class="container-md-5 p-1">
                    <table class="infoTable table">
                        <thead>
                        <tr>
                            <th scope="col">정보공시학교코드</th>
                            <th scope="col">학교명</th>
                            <th scope="col">시도교육청</th>
                            <th scope="col">지역교육청</th>
                            <th scope="col">설립구분</th>
                            <th scope="col">주야구분</th>
                            <th scope="col">남녀공학여부</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>S01000738</td>
                            <td>서울개일초등학교</td>
                            <td>서울특별시교육청</td>
                            <td>서울특별시강남서초교육지원청</td>
                            <td>공립</td>
                            <td>주간</td>
                            <td>남녀공학</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-xl-2 p-1">
                </div>
                <div class="container-md-5 p-1">
                    <table class="infoTable table">
                        <thead>
                        <tr>
                            <th scope="col">시도명</th>
                            <th scope="col">시군구명</th>
                            <th scope="col">도로명주소</th>
                            <th scope="col">우편번호</th>
                            <th scope="col">전화번호</th>
                            <th scope="col">홈페이지주소</th>
                            <th scope="col">팩스번호</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>서울시특별시</td>
                            <td>강남구</td>
                            <td>서울특별시 강남구 개포로 401</td>
                            <td>135804</td>
                            <td>02-571-8320</td>
                            <td>https://gaeil.sen.es.kr</td>
                            <td>02-571-8325</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-5">
        <div class="row align-items-md-stretch p-5">
            <div class="col-md-6">
                <div class="apiDiv h-100 p-5 bg-body-tertiary border border-dark rounded-3">
                    <h2> 날씨 앱을 넣을 부분 </h2>
                    <p>기상청 단기예보 날씨 API를 넣을 예정</p>
                </div>
            </div>
            <div class="col-md-6">
                <div  class="apiDiv h-100 p-5 bg-body-tertiary border border-dark rounded-3">
                    <h2> 지도 앱을 넣을 부분 </h2>
                    <p>네이버 주소=>좌표 API를 넣을 예정</p>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>