<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/infoSchool.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <section id="pageMap" class="container my-3">
        <div class="d-flex justify-content-between">
            <div>
                <button onclick="location.href='/high/school/search'" class="apiButtonGreen btn btn-primary">학교관리 화면가기</button>
            </div>
            <div>
                <button th:onclick="|location.href='/high/school/modify/'+${school.idx}|" class="apiButtonGreen btn btn-primary">학교 수정하기</button>
            </div>
        </div>
    </section>

    <section class="container my-3 justify-content-md-center flex-container" id="infoSection">
        <div class="col-md-6">
            <table class="infoTable table">
                <tbody>
                <tr>
                    <th>정보공시학교코드</th>
                    <th>학교명</th>
                    <th>시도교육청</th>
                    <th>지역교육청</th>
                    <th>설립구분</th>
                    <th>주야구분</th>
                    <th>남녀공학여부</th>
                </tr>
                <tr>
                    <td th:text="${schoolDetail.schoolCode}"></td>
                    <td th:text="${school.schoolName}"></td>
                    <td th:text="${school.cityEduOrg}"></td>
                    <td th:text="${school.localEduOrg}"></td>
                    <td th:text="${schoolDetail.foundationName}"></td>
                    <td th:text="${schoolDetail.dayNightName}"></td>
                    <td th:text="${schoolDetail.coedu}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="infoTable table">
                <tbody>
                <tr>
                    <th>시도명</th>
                    <th>시군구명</th>
                    <th>도로명주소</th>
                    <th>우편번호</th>
                    <th>전화번호</th>
                    <th>홈페이지주소</th>
                    <th>팩스번호</th>
                </tr>
                <tr>
                    <td th:text="${school.cityName}"></td>
                    <td id="streetAddr"></td>
                    <td th:text="${school.streetAddr}"></td>
                    <td th:text="${schoolDetail.postNum}"></td>
                    <td th:text="${schoolDetail.telNum}"></td>
                    <td th:text="${schoolDetail.hmpgAddr}"></td>
                    <td th:text="${schoolDetail.faxNum}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="container my-3">
        <div class="row d-flex justify-content-between">
            <div id="mapContent" class="col-md-7  border border-dark rounded-3">
                <div id="mapArea" class="p-1 bg-body-tertiary">
                    <figure id="map" class="w-100 h-100"></figure>
                </div>
            </div>
            <div id="weatherContent" class="col-md-5  border border-dark rounded-3">
                <a href="https://www.weather.go.kr/w/index.do">
                    <img id=weatherKrBanner src="/images/weather_kor_banner.png" alt="기상청 홈페이지로">
                </a>
                <table class="infoTable table">
                    <tbody>
                    <tr>
                        <th>비소식 (코드값)</th>
                        <th>기온 (℃)</th>
                        <th>습도 (%)</th>
                        <th>1시간 강수량 (mm)</th>
                        <th>풍속 (m/s)</th>
                        <th>풍향 (deg)</th>
                        <th>남북바람성분 (m/s)</th>
                        <th>동서바람성분 (m/s)</th>
                    </tr>
                    <tr>
                        <td th:text="${weatherData.pty}"></td>
                        <td th:text="${weatherData.t1h}"></td>
                        <td th:text="${weatherData.reh}"></td>
                        <td th:text="${weatherData.rn1}"></td>
                        <td th:text="${weatherData.wsd}"></td>
                        <td th:text="${weatherData.vec}"></td>
                        <td th:text="${weatherData.vvv}"></td>
                        <td th:text="${weatherData.uuu}"></td>
                    </tr>
                    </tbody>
                </table>
                <p class="pTextCenter">날씨 코드값: 없음(0), 비(1), 비/눈(2), 눈(3), 빗방울(5), 빗방울눈날림(6), 눈날림(7)</p>
                <p class="pTextCenter">동서바람성분: 동(+표기), 서(-표기) &nbsp;&nbsp;&nbsp;&nbsp; / &nbsp;&nbsp;&nbsp;&nbsp; 남북바람성분: 북(+표기), 남(-표기)</p>
            </div>
        </div>
    </section>

    <!-- API_SRC_START  -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mo4ez0j3y6&submodules=geocoder"></script>
    <script type="text/javascript" src="https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst?serviceKey=bjzcjXp5BZXRA5vnoLptqnIRMijNPrHGZAwXuxDO1XkJ5j8V5zSpfRVB4OedKWbyiVdgfUGga8zoxwTnQnO00w%3D%3D"></script>
    <!-- API_SRC_END  -->

    <!-- MAP_API_START  -->
    <script th:src="@{/js/map_infoSchool.js}"></script>
    <script>
        const schoolName = "[[${school.schoolName}]]";
        const streetAddress = "[[${school.streetAddr}]]";
        // ..
        const mapSection = searchAddressToCoordinate(streetAddress, schoolName);

        window.onload = function(){
            if(mapSection !== null) {
                searchWeatherLocate(streetAddress);
            }
        }
        // ..
    </script>
    <!-- MAP_API_END  -->

    <!-- CUT_STREET_ADDRESS_START  -->
    <script>
        const strAddr = '[[${school.streetAddr}]]';
        const strAddress = document.getElementById("streetAddr");

        const addrParts = strAddr.split(' ');
        if (addrParts.length >= 2) {
            strAddress.innerText = addrParts[1];
        } else {
            strAddress.innerText = strAddr;
        }
    </script>
    <!-- CUT_STREET_ADDRESS_END  -->
</main>
</html>