<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content" id="manageMain">
    <link rel="stylesheet" th:href="@{/css/manageHome.css}">
    <section class="container pt-4">
        <h1>학교 관리</h1>
        <p>학교현황을 확인할 수 있습니다.</p>
    </section>
    <section class="container my-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="javascript:void(0)" onclick="toggleTab('고등')">고등</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="toggleTab('중등')">중등</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="toggleTab('초등')">초등</a>
            </li>
        </ul>
        <div class="p-5 bg-body-tertiary rounded-bottom-3 border-start border-end border-end border-bottom border-1">
            <form action="/high/school/search-list" method="GET">
                <div class="row">
                    <div class="col-md-6 py-2">
                        <h4>지역</h4>
                        <label>
                            <select name="cityName" id="cityName" class="form-select" aria-label="Default select example">
                                <option value="전체">전체</option>
                            </select>
                        </label>
                        <label>
                            <select name="streetAddr" id="streetAddr" class="form-select" aria-label="Default select example">
                                <option value="전체">구/군</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-md-6 py-2">
                        <h4>검색</h4>
                        <label>
                            <select id="searchOption" class="form-select" aria-label="Default select example" name="searchOption">
                                <option value="전체">전체</option>
                                <option value="학교명">학교명</option>
                                <option value="학교주소">학교주소</option>
                                <option value="등록자">등록자</option>
                            </select>
                        </label>
                        <label class="w-50">
                            <input type="text" id="searchValue" name="searchValue" class="form-control">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-end">
                        <label>
                            <!--해당 버튼은 js로 검색 input값들 초기화-->
                            <button type="reset" class="btn btn-secondary" id="resetBtn">초기화</button>
                            <input type="submit" class="btn btn-secondary" id="searchBtn" value="검색">
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="container my-4 py-5">
        <div class="py-2 d-flex justify-content-between">
            <span class="d-flex align-items-center" th:text="'총 '+${count}+'개'"></span>
            <label>
                <button type="button" class="btn btn-warning" onclick="location.href='/high/school/init-official-data'">api 초기화</button>
                <button type="button" class="btn btn-success" id="liveToastBtn">Excel 다운로드 <i class="bi bi-download"></i></button>
                <button type="button" class="btn btn-secondary" onclick="location.href='/high/school/add'">학교등록</button>
            </label>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="" class="rounded me-2" alt="...">
                        <strong class="me-auto">Toast Title</strong>
                        <small>1 mins ago</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>
        </div>
        <table id="tb" class="table table-hover table-striped border rounded-3">
            <thead>
                <tr>
                    <th scope="col" id="t_idx" class="text-center">NO</th>
                    <th scope="col" id="t_cityName" class="text-center">시도명</th>
                    <th scope="col" id="t_streetAddr" class="text-center">시군구명</th>
                    <th scope="col" id="t_schoolKind" class="text-center">학교급</th>
                    <th scope="col" id="t_schoolName" class="text-center">학교명</th>
                    <th scope="col" id="t_cityEduOrg" class="text-center">시도교육청</th>
                    <th scope="col" id="t_localEduOrg" class="text-center">지역교육청</th>
                    <th scope="col" id="t_userName" class="text-center">등록자</th>
                    <th scope="col" id="t_createdAt" class="text-center">등록일</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">

                <ul class="pagination ">
                    <li class="page-item"><a class="page-link" onclick="searchSchool(1)"><label aria-hidden="true">&laquo;</label></a></li>
                    <li class="pagination-container d-flex">

                    </li>
                    <li class="page-item"><a class="page-link" onclick="searchSchool(108)"><label aria-hidden="true">&raquo;</label></a></li>
                </ul>
            </nav>
        </div>
    </section>
    <script th:src="@{/js/manageHome.js}"></script>
</main>
</html>