<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/searchSchool.css}">
    <section class="container pt-4">
        <h1>학교 관리</h1>
        <p>학교현황을 확인할 수 있습니다.</p>
    </section>
    <section class="container my-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="javascript:void(0)" onclick="toggleTab('고등')">고등</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="toggleTab('중등')">중등</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="toggleTab('초등')">초등</a>
            </li>
        </ul>
        <div class="p-5 bg-body-tertiary rounded-bottom-3 border-start border-end border-end border-bottom border-1">
            <div class="row">
                <div class="col-md-6 py-2">
                    <h4>지역</h4>
                    <label>
                        <select name="city" id="city" class="form-select" aria-label="Default select example">
                            <option value="">전체</option>
                        </select>
                    </label>
                    <label>
                        <select name="district" id="district" class="form-select" aria-label="Default select example">
                            <option value="">구/군</option>
                        </select>
                    </label>
                </div>
                <div class="col-md-6 py-2">
                    <h4>검색</h4>
                    <label>
                        <select id="searchOption" class="form-select" aria-label="Default select example">
                            <option value="all">전체</option>
                            <option value="schoolName">학교명</option>
                            <option value="schoolAddress">학교주소</option>
                            <option value="user">등록자</option>
                        </select>
                    </label>
                    <label class="w-50">
                        <input type="text" id="searchValue" class="form-control">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-end">
                    <label>
                        <button type="reset" class="btn btn-secondary" id="resetBtn">초기화</button>
                        <button type="button" class="btn btn-secondary" id="searchBtn">검색</button>
                    </label>
                </div>
            </div>
        </div>
    </section>

    <section class="container my-4 py-5">
        <div class="py-2 d-flex justify-content-between">
            <span class="d-flex align-items-center" th:text="'총 '+${count}+'개'"></span>
            <label>
                <button type="button" class="btn btn-warning" onclick="location.href='/high/school/init-official-data'">api 초기화</button>
                <button type="button" class="btn btn-success" id="liveToastBtn">Excel 다운로드 <i class="bi bi-download"></i></button>
                <button type="button" class="btn btn-secondary" onclick="location.href='/high/school/add'">학교등록</button>
            </label>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="" class="rounded me-2" alt="...">
                        <strong class="me-auto">Toast Title</strong>
                        <small>1 mins ago</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>
        </div>
        <table id="tb" class="table table-hover table-striped border rounded-3">
            <thead>
                <tr>
                    <th class="text-center">NO</th>
                    <th class="text-center">시도명</th>
                    <th class="text-center">시군구명</th>
                    <th class="text-center">학교급</th>
                    <th class="text-center">학교명</th>
                    <th class="text-center">시도교육청</th>
                    <th class="text-center">지역교육청</th>
                    <th class="text-center">등록자</th>
                    <th class="text-center">등록일</th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="tableBody">
                <tr th:each="school : ${schoolList}">
                    <td class="text-center" th:text="${school.idx}">NO</td>
                    <td class="text-center" th:text="${school.lctnScNm}">시도명</td>
                    <td class="text-center" th:text="${school.orgRdnda}">시군구명</td>
                    <td class="text-center" th:text="${school.schulKndScNm}">학교급</td>
                    <td class="text-center" th:text="${school.schulNm}">학교명</td>
                    <td class="text-center" th:text="${school.atptOfcdcScNm}">시도교육청</td>
                    <td class="text-center" th:text="${school.juOrgNm}">지역교육청</td>
                    <td class="text-center" th:text="${school.user != null ? school.user.userName : '-'}">등록자</td>
                    <td class="text-center" th:text="${school.createdAt}">등록일</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <th:block th:each="pageNumber : ${#numbers.sequence(1, 10)}">
                        <li class="page-item" th:classappend="${pageNumber == 1} ? 'active'">
                            <a class="page-link" href="javascript:void(0)" th:data-page="${pageNumber}" th:text="${pageNumber}"></a>
                        </li>
                    </th:block>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
        </div>
    </section>
    <script th:src="@{/js/searchSchool.js}"></script>
</main>
</html>