<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/searchSchool.css}">
    <section class="container pt-4">
        <h1>학교 관리</h1>
        <p>학교현황을 확인할 수 있습니다.</p>
    </section>
    <section class="container my-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="javascript:void(0)" onclick="toggleTab('고등')">고등</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="toggleTab('중등')">중등</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="toggleTab('초등')">초등</a>
            </li>
        </ul>
        <div class="p-5 bg-body-tertiary rounded-bottom-3 border-start border-end border-end border-bottom border-1">
            <div class="row">
                <div class="col-md-6 py-2">
                    <h4>지역</h4>
                    <label>
                        <select name="city" id="city" class="form-select" aria-label="Default select example">
                            <option value="">전체</option>
                        </select>
                    </label>
                    <label>
                        <select name="district" id="district" class="form-select" aria-label="Default select example">
                            <option value="">구/군</option>
                        </select>
                    </label>
                </div>
                <div class="col-md-6 py-2">
                    <h4>검색</h4>
                    <label>
                        <select id="searchOption" class="form-select" aria-label="Default select example">
                            <option value="all">전체</option>
                            <option value="schoolName">학교명</option>
                            <option value="schoolAddress">학교주소</option>
                            <option value="user">등록자</option>
                        </select>
                    </label>
                    <label class="w-50">
                        <input type="text" id="searchValue" class="form-control">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-end">
                    <label>
                        <button type="reset" class="btn btn-secondary" id="resetBtn">초기화</button>
                        <button type="button" class="btn btn-secondary" id="searchBtn">검색</button>
                    </label>
                </div>
            </div>
        </div>
    </section>

    <section class="container my-4 py-5">
        <div class="py-2 d-flex justify-content-between">
            <span class="d-flex align-items-center">총 00개</span>
            <label>
                <button type="button" class="btn btn-success" id="liveToastBtn">Excel 다운로드 <i class="bi bi-download"></i></button>
                <button type="button" class="btn btn-secondary" onclick="location.href='/high/info'">학교등록</button>
            </label>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="" class="rounded me-2" alt="...">
                        <strong class="me-auto">Toast Title</strong>
                        <small>1 mins ago</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>
        </div>
        <table id="tb" class="table table-hover table-striped border rounded-3">
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">시도명</th>
                    <th scope="col">시군구명</th>
                    <th scope="col">학교급</th>
                    <th scope="col">학교명</th>
                    <th scope="col">시도교육청</th>
                    <th scope="col">지역교육청</th>
                    <th scope="col">등록자</th>
                    <th scope="col">등록일</th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="tableBody">
                <tr th:each="school : ${schoolList}">
                    <td th:text="${school.idx}">NO</td>
                    <td th:text="${school.lctnScNm}">시도명</td>
                    <td th:text="${school.orgRdnda}">시군구명</td>
                    <td th:text="${school.schulKndScNm}">학교급</td>
                    <td th:text="${school.atptOfcdcScNm}">시도교육청</td>
                    <td th:text="${school.juOrgNm}">지역교육청</td>
                    <td th:text="${school.user != null ? school.user.userName : '-'}">등록자</td>
                    <td th:text="${school.createdAt}">등록일</td>
                </tr>
            </tbody>

        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <th:block th:each="pageNumber : ${#numbers.sequence(1, 10)}">
                        <li class="page-item">
                            <a class="page-link" href="#" th:data-page="${pageNumber}" th:text="${pageNumber}"></a>
                        </li>
                    </th:block>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
        </div>
    </section>

    <script>
        let ex_city;
        let ex_district;
        let ex_search_option;
        let ex_search_option_value;

        //학교 데이터 출력
        const searchSchool = (pageNumber) => {
            const tableBody = document.getElementById('tableBody');
            const url = getSearchURL(pageNumber);

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    tableBody.innerHTML = '';
                    data.forEach((school) => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <th>${school.idx}</th>
                            <td>${school.city}</td>
                            <td>${school.district}</td>
                            <td>${school.class}</td>
                            <td>${school.name}</td>
                            <td>${school.educationOffice}</td>
                            <td>${school.localEducationOffice}</td>
                            <td>${school.register}</td>
                            <td>${school.registDate}</td>
                        `;
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => {
                    const row = document.createElement('tr');
                    row.innerHTML = `<th colspan="9" class="text-center" style="height: 100px">학교를 찾을 수 없어요</th>`;
                    tableBody.appendChild(row);
                });
        }

        // 검색 조건
        const getSearchURL = (pageNumber) => {
            const city = ex_city || document.getElementById('city').value;
            const district = ex_district || document.getElementById('district').value;
            const searchOption = ex_search_option || document.querySelector('#searchOption').value;
            const searchValue = ex_search_option_value || document.querySelector('#searchValue').value;

            let url = '/high/search/school';
            const params = [];

            if (city !== "")
                params.push(`city=${city}`);

            if (district !== "")
                params.push(`district=${district}`);

            if (searchValue !== "")
                params.push(`option=${searchOption}&value=${searchValue}`);

            if (pageNumber)
                params.push(`page=${pageNumber}`);

            if (params.length > 0)
                url += '?' + params.join('&');

            return url;
        }

        //페이징
        const pageLinks = document.querySelectorAll('.page-link');
        pageLinks.forEach(pageLink => {
            pageLink.addEventListener('click', (event) => {
                event.preventDefault();
                const pageNumber = pageLink.getAttribute('data-page');
                if (pageNumber) {
                    document.querySelectorAll('.page-item').forEach(pageItem => {
                        pageItem.classList.remove('active');
                    });
                    pageLink.closest('.page-item').classList.add('active');

                    // 검색 함수 호출
                    searchSchool(pageNumber);
                }
            });
        });

        // 검색 버튼 클릭 시
        document.getElementById('searchBtn').addEventListener('click', function (event) {
            event.preventDefault(); // 버튼의 기본 동작 막기

            // 검색 조건 업데이트
            ex_city = document.getElementById('city').value;
            ex_district = document.getElementById('district').value;
            ex_search_option = document.querySelector('#searchOption').value;
            ex_search_option_value = document.querySelector('#searchValue').value;

            // 검색 함수 호출
            searchSchool(1);

            // 페이지 번호 업데이트: 1페이지로 이동
            document.querySelectorAll('.page-item').forEach(pageItem => {
                pageItem.classList.remove('active');
            });
            document.querySelector('.page-link[data-page="1"]').closest('.page-item').classList.add('active');
        });


        const toggleTab = (tabName) => {
            const tabs = document.querySelectorAll('.nav-tabs .nav-link');
            tabs.forEach(tab => {
                if (tab.textContent === tabName) {
                    tab.classList.add('active');
                } else {
                    tab.classList.remove('active');
                }
            });
        }

        // 데이터 테이블 라이브러리
        $('#tb').DataTable({
            lengthChange: false,
            searching: false,
            info: false,
            paging: false,
            language: {
                emptyTable: "학교를 찾을 수 없어요"
            },
            columns: [
                { data: 'idx', defaultContent: '-' },
                { data: 'lctnScNm', defaultContent: '-' },
                { data: 'orgRdnda', defaultContent: '-' },
                { data: 'schulKndScNm', defaultContent: '-' },
                { data: 'atptOfcdcScNm', defaultContent: '-' },
                { data: 'juOrgNm', defaultContent: '-' },
                {
                    data: 'user',
                    render: (data) => {
                        return data != null ? data.user.userName : '-';
                    },
                    defaultContent: '-'
                },
                { data: 'createdAt', defaultContent: '-' }
            ]
        });

        //toast UI
        const toastTrigger = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')
        if (toastTrigger) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastTrigger.addEventListener('click', () => {
                toastBootstrap.show()
            })
        }

        // 지역 선택란
        document.addEventListener("DOMContentLoaded", () => {
            const area = $("select[name^=city]");
            const district = $("select[name^=district]");

            $.getJSON("/json/city.json", (data) => {
                const cityData = data.area;
                const citiesData = data;

                cityData.forEach((item) => {
                    area.append(`<option value="${item.name}">${item.name}</option>`);
                });

                area.change(function () {
                    const selectedCity = $(this).val();
                    const selectedArea = citiesData.area.find((item) => item.name === selectedCity); // 시/도

                    district.find("option").remove();
                    if (selectedCity !== "") {
                        const cities = selectedArea.cities; // 구/군
                        cities.forEach((item) => {
                            district.append(`<option value="${item}">${item}</option>`);
                        });
                    } else {
                        district.append('<option value="">구/군</option>');
                    }
                });
            });


            // 초기화 버튼 클릭 시
            document.getElementById('resetBtn').addEventListener('click', function (event) {
                event.preventDefault(); // 버튼의 기본 동작 막기

                // 폼 필드 초기화
                document.getElementById('city').value = "";
                document.getElementById('district').value = "";
                document.querySelector('.form-select').value = "all";
                document.querySelector('.form-control').value = "";

                // 검색 결과 지우기 (원하는 대상에 맞게 수정)
                const tableBody = document.getElementById('tableBody');
                searchSchool();
            });
        });
    </script>
</main>
</html>