<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <section class="container pt-4">
        <h1>학교 관리</h1>
        <p>학교현황을 확인할 수 있습니다.</p>
    </section>
    <section class="container my-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="javascript:void(0)" onclick="toggleTab('고등')">고등</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="toggleTab('중등')">중등</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="toggleTab('초등')">초등</a>
            </li>
        </ul>
        <form class="p-5 bg-body-tertiary rounded-bottom-3 border-start border-end border-end border-bottom border-1">
            <div class="row">
                <div class="col-md-5 py-2">
                    <h4>지역</h4>
                    <label>
                        <select name="city" id="city" class="form-select" aria-label="Default select example"></select>
                    </label>
                    <label>
                        <select name="gugun" id="gugun" class="form-select" aria-label="Default select example">
                            <option>구/군</option>
                        </select>
                    </label>
                </div>
                <div class="col-md-7 py-2">
                    <h4>검색</h4>
                    <label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="전체">전체</option>
                            <option value="전체">학교명</option>
                            <option value="전체">학교주소</option>
                            <option value="전체">등록자</option>
                        </select>
                    </label>
                    <label>
                        <input type="text" class="form-control">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-end">
                    <label>
                        <button type="reset" class="btn btn-secondary">초기화</button>
                        <button onclick="searchHandler()" type="button" class="btn btn-secondary">검색</button>
                    </label>
                </div>
            </div>
        </form>
    </section>

    <section class="container my-4 py-5">
        <div class="py-2 d-flex justify-content-between">
            <span class="d-flex align-items-center">총 00개</span>
            <label>
                <button type="button" class="btn btn-success" id="liveToastBtn">Excel 다운로드 <i class="bi bi-download"></i></button>
                <button type="button" class="btn btn-secondary">학교등록</button>
            </label>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="" class="rounded me-2" alt="...">
                        <strong class="me-auto">Toast Title</strong>
                        <small>1 mins ago</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>
        </div>
        <table id="tb" class="table table-hover table-striped border rounded-3">
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">시도명</th>
                    <th scope="col">시군구명</th>
                    <th scope="col">학교급</th>
                    <th scope="col">학교명</th>
                    <th scope="col">시도교육청</th>
                    <th scope="col">지역교육청</th>
                    <th scope="col">등록자</th>
                    <th scope="col">등록일</th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="tableBody">
                <tr>
                    <th scope="row">1</th>
                    <td>서울특별시</td>
                    <td>서초구</td>
                    <td>고등</td>
                    <td>서울고등학교</td>
                    <td>서울특별시교육청</td>
                    <td>서울시교육청</td>
                    <td>홍길동</td>
                    <td>2023-09-11</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>강원특별자치도</td>
                    <td>횡성군</td>
                    <td>고등</td>
                    <td>민족사관고등학교</td>
                    <td>강원특별자치도교육청</td>
                    <td>강원특별자치도</td>
                    <td>홍길동</td>
                    <td>2023-09-11</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <th:block th:each="pageNumber : ${#numbers.sequence(1, 10)}">
                        <li class="page-item"><a class="page-link" href="#" th:href="'#' + ${pageNumber}" th:text="${pageNumber}"></a></li>
                    </th:block>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
        </div>
    </section>
    <script>
        const searchHandler = () => {
            // 검색 조건
            const city = document.getElementById('city').value;
            const gugun = document.getElementById('gugun').value;
            const searchOption = document.querySelector('select.form-select').value;
            const searchValue = document.querySelector('input.form-control').value;

            fetch(`/high/search/school?city=${city}&gugun=${gugun}&option=${searchOption}&value=${searchValue}`)
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('tableBody');
                    tableBody.innerHTML = '';

                    data.forEach((school) => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <th>${school.index}</th>
                            <td>${school.city}</td>
                            <td>${school.gugun}</td>
                            <td>${school.class}</td>
                            <td>${school.name}</td>
                            <td>${school.educationOffice}</td>
                            <td>${school.localEducationOffice}</td>
                            <td>${school.register}</td>
                            <td>${school.registDate}</td>
                        `;
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => {
                    const row = document.createElement('tr');
                    row.innerHTML = `<th colspan="9" class="text-center" style="height: 100px">학교를 찾을 수 없어요</th>`;
                    tableBody.appendChild(row);
                });
        }

        const toggleTab = (tabName) => {
            const tabs = document.querySelectorAll('.nav-tabs .nav-link');
            tabs.forEach(tab => {
                if (tab.textContent === tabName) {
                    tab.classList.add('active');
                } else {
                    tab.classList.remove('active');
                }
            });
        }

        $('#tb').DataTable({
            lengthChange: false,
            searching: false,
            info: false,
            paging: false,
        });

        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

        const toastTrigger = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')

        if (toastTrigger) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastTrigger.addEventListener('click', () => {
                toastBootstrap.show()
            })
        }

        const city = ["전체","서울특별시","인천광역시","대전광역시","광주광역시","대구광역시","울산광역시","부산광역시","경기도","강원특별자치도","충청북도","충청남도","전라북도","전라남도","경상북도","경상남도","제주도"];
        const cities = [
            [],
            ["강남구","강동구","강북구","강서구","관악구","광진구","구로구","금천구","노원구","도봉구","동대문구","동작구","마포구","서대문구","서초구","성동구","성북구","송파구","양천구","영등포구","용산구","은평구","종로구","중구","중랑구"],
            ["계양구","남구","남동구","동구","부평구","서구","연수구","중구","강화군","옹진군"],
            ["대덕구","동구","서구","유성구","중구"],
            ["광산구","남구","동구","북구","서구"],
            ["남구","달서구","동구","북구","서구","수성구","중구","달성군"],
            ["남구","동구","북구","중구","울주군"],
            ["강서구","금정구","남구","동구","동래구","부산진구","북구","사상구","사하구","서구","수영구","연제구","영도구","중구","해운대구","기장군"],
            ["고양시","과천시","광명시","광주시","구리시","군포시","김포시","남양주시","동두천시","부천시","성남시","수원시","시흥시","안산시","안성시","안양시","양주시","오산시","용인시","의왕시","의정부시","이천시","파주시","평택시","포천시","하남시","화성시","가평군","양평군","여주군","연천군"],
            ["강릉시","동해시","삼척시","속초시","원주시","춘천시","태백시","고성군","양구군","양양군","영월군","인제군","정선군","철원군","평창군","홍천군","화천군","횡성군"],
            ["제천시","청주시","충주시","괴산군","단양군","보은군","영동군","옥천군","음성군","증평군","진천군","청원군"],
            ["계룡시","공주시","논산시","보령시","서산시","아산시","천안시","금산군","당진군","부여군","서천군","연기군","예산군","청양군","태안군","홍성군"],
            ["군산시","김제시","남원시","익산시","전주시","정읍시","고창군","무주군","부안군","순창군","완주군","임실군","장수군","진안군"],
            ["광양시","나주시","목포시","순천시","여수시","강진군","고흥군","곡성군","구례군","담양군","무안군","보성군","신안군","영광군","영암군","완도군","장성군","장흥군","진도군","함평군","해남군","화순군"],
            ["경산시","경주시","구미시","김천시","문경시","상주시","안동시","영주시","영천시","포항시","고령군","군위군","봉화군","성주군","영덕군","영양군","예천군","울릉군","울진군","의성군","청도군","청송군","칠곡군"],
            ["거제시","김해시","마산시","밀양시","사천시","양산시","진주시","진해시","창원시","통영시","거창군","고성군","남해군","산청군","의령군","창녕군","하동군","함안군","함양군","합천군"],
            ["서귀포시","제주시","남제주군","북제주군"]
        ];

        cities[8] = [
            "가평군", "고양시 덕양구", "고양시 일산동구", "고양시 일산서구", "과천시", "광명시", "광주시",
            "구리시", "군포시", "김포시", "남양주시", "동두천시", "부천시 소사구", "부천시 오정구", "부천시 원미구",
            "성남시 분당구", "성남시 수정구", "성남시 중원구", "수원시 권선구", "수원시 영통구", "수원시 장안구",
            "수원시 팔달구", "시흥시", "안산시 단원구", "안산시 상록구", "안성시", "안양시 동안구", "안양시 만안구",
            "양주시", "오산시", "용인시 기흥구", "용인시 수지구", "용인시 처인구", "의왕시", "의정부시", "이천시",
            "파주시", "평택시", "포천시", "하남시", "화성시"
        ];
        cities[10] = ["괴산군", "단양군", "보은군", "영동군", "옥천군", "음성군", "증평군", "진천군", "청원군"];
        cities[9] = ["강릉시","동해시","삼척시","속초시","원주시","춘천시","태백시","고성군","양구군","양양군","영월군","인제군","정선군","철원군","평창군","홍천군","화천군","횡성군"];
        cities[11] = ["제천시","청주시","충주시","괴산군","단양군","보은군","영동군","옥천군","음성군","증평군","진천군","청원군"];
        cities[12] = ["계룡시","공주시","논산시","보령시","서산시","아산시","천안시","금산군","당진군","부여군","서천군","연기군","예산군","청양군","태안군","홍성군"];
        cities[13] = ["군산시","김제시","남원시","익산시","전주시","정읍시","고창군","무주군","부안군","순창군","완주군","임실군","장수군","진안군"];
        cities[14] = ["광양시","나주시","목포시","순천시","여수시","강진군","고흥군","곡성군","구례군","담양군","무안군","보성군","신안군","영광군","영암군","완도군","장성군","장흥군","진도군","함평군","해남군","화순군"];
        cities[15] = ["경산시","경주시","구미시","김천시","문경시","상주시","안동시","영주시","영천시","포항시","고령군","군위군","봉화군","성주군","영덕군","영양군","예천군","울릉군","울진군","의성군","청도군","청송군","칠곡군"];
        cities[16] = ["거제시","김해시","마산시","밀양시","사천시","양산시","진주시","진해시","창원시","통영시","거창군","고성군","남해군","산청군","의령군","창녕군","하동군","함안군","함양군","합천군"];

        $(document).ready(() => {
            // 시/도 선택 박스 초기화
            $("select[name^=city]").each(function () {
                const selectCity = $(this);
                city.forEach((item) => {
                    selectCity.append(`<option value='${item}'>${item}</option>`);
                });
                selectCity.next().append("<option value=''>구/군 선택</option>");
            });

            // 시/도 선택시 구/군 설정
            $("select[name^=city]").change(function () {
                const cityIndex = $("option", $(this)).index($("option:selected", $(this)));
                const gugun = $("select[name^=gugun]");
                $("option", gugun).remove();
                cities[cityIndex].forEach((item) => {
                    gugun.append(`<option value='${item}'>${item}</option>`);
                });
            });
        });

    </script>
</main>
</html>